header {
 

  h2 {
    font-family: "Quicksand", sans-serif;
    
  }
  
  nav {
    display: flex;
    margin-right: -15px;
    
    li {
        margin: 0 15px;
        list-style-type: none;
      }
  }
  
}
