* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
}
body {
   
    font-family: Helvetica, Arial, sans-serif;
    font-size: $m-size;
}

button {
    cursor: pointer;
}
button:disabled {
    cursor: default;
}
.is-active {
    font-weight: bold;
}
h1 {
    color: white;
  }
a {
    text-decoration: none;
    opacity: 0.55;
    color: inherit;
    
  }

  a.btn {
    border-radius: 4px;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    background-color: black;
    
    
    
  }
  a:hover { 
    opacity: 1;
  }
